#map
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  padding: 0
  margin: 0

.cards--map
  width: 540px
  position: absolute
  top: 0
  z-index: 1
  height: 100%
  overflow-y: scroll
  margin-left: 20px
  padding-top: 70px
  margin-bottom: -54px
  padding-bottom: 100px
  padding-right: 15px
  .badge
    a
      color: #fff
  .card:first-child
    margin-top: 30px

  .rating
    position: absolute
    right: 1rem
    top: 1rem
    font-size: 1.6rem

  figure
    margin-bottom: 0

  figcaption
    border-bottom: 1px solid #eee
    margin: 0 1.25rem
    padding: 0.5rem 0
