.featured--image.content--about
  %figure
    = image_tag 'restaurants/bulla.jpg'

.container.content--first
  .row
    .col-lg-8
      %h1.header--underline About Forkful
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.

      %h2.header--underline Something else
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.

      %h2.header--underline Something else
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.
      %p Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.  Some things about it here.

    .col-lg-4
      .list-group
        %a.list-group-item{ href: '#' } Advertise On Forkful
        %a.list-group-item{ href: '#' } Job Board
