%br
%br
%br

.container
  .jumbotron
    %h1 About
    %p
      Cocktail Fly is a weekend project by
      %a{ href: 'http://adamfortuna.com'} Adam Fortuna
      to chronicle and showcase some of my favorite places for cocktails in Orlando.

    %p
      The goal (eventually) is to have lists for many different cities. If you'd be interested in contributing for a city, please let me know!

    %h1 Contact Me
    %p
      Want to get in touch? Have a recommendation? Want to grab a drink? Shoot me an email with any questions, comments or suggestions at
      %a{ href: '', mailto: 'adam@fortuna.name' } adam@fortuna.name.
