<div class='content--best-of'>
  <div class='container'>
    <div class='row area--best'>
      <div class='best col-xs-12'>
        <h3 class='header--underline'>Best Of Orlando</h3>

        <div class="card-deck">
          <div class="card">
            <a href='#' class='best--img-link img--wrapper'><img class="card-img-top img-fluid" src="assets/news/bulla.jpg" alt="Card image cap" /></a>
            <div class="card-block">
              <span class="badge badge-new">New</span>
              <h4 class="card-title">
                <a href='#'>14 Best Pizzas in Orlando</a>
              </h4>
              <p class="card-text">Spanish Tapas, cocktails and authentic dishes.</p>
              <p class="card-text">
                <ul class='list-inline'>
                  <li><a href='#'><i class="fa fa-map-marker" aria-hidden="true"></i> Winter Park</a></li>
                </ul>
              </p>
              <p class="card-text"><small class="text-muted">December 2, 2016 by <a href='#'>Adam Fortuna</a></small></p>
            </div>
          </div>

          <div class="card">
            <a href='#' class='best--img-link img--wrapper'><img class="card-img-top img-fluid" src="assets/news/domu.jpg" alt="Card image cap" /></a>
            <div class="card-block">
              <h4 class="card-title">
                <a href='#'>8 Best Places for Ramen in Orlando</a>
              </h4>
              <p class="card-text">The new ramen and cocktails restaurant in East End Market is in soft opening.</p>
              <p class="card-text">
                <ul class='list-inline'>
                  <li><a href='#'><i class="fa fa-map-marker" aria-hidden="true"></i> Winter Park</a></li>
                </ul>
              </p>
              <p class="card-text"><small class="text-muted">December 2, 2016 by <a href='#'>Adam Fortuna</a></small></p>
            </div>
          </div>

          <div class="card">
            <a href='#' class='best--img-link img--wrapper'><img class="card-img-top img-fluid" src="assets/news/bulla.jpg" alt="Card image cap" /></a>
            <div class="card-block">
              <h4 class="card-title">
                <a href='#'>17 Best places to eat at Disney Springs</a>
              </h4>
              <p class="card-text">Spanish Tapas, cocktails and authentic dishes.</p>
              <p class="card-text">
                <ul class='list-inline'>
                  <li><a href='#'><i class="fa fa-map-marker" aria-hidden="true"></i> Winter Park</a></li>
                </ul>
              </p>
              <p class="card-text"><small class="text-muted">December 2, 2016 by <a href='#'>Adam Fortuna</a></small></p>
            </div>
          </div>
        </div>

        <p class='text-xs-right'><a href='#'>See All 23 Best of Orlando Lists <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>

<div class='content--reviews'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <h3 class="header--underline">Recent Reviews</h3>

        <div class='card-columns'>
          <div class="card">
            <a href='#' class='float-left reviews--img-link img--wrapper pr-3'><img src="assets/news/bulla.jpg" class='card-img-left' alt="Card image cap" /></a>
            <div class='card-block'>
              <span class="badge badge-new">New</span>
              <div class='reviews--title'>
                <h4 class="card-title mb-0"><a href='#'>Chefs Table</a></h4>
                <p class='lead'>Winter Garden</p>
                <span class="badge badge-success">5 <i class='fa fa-spoon'></i></span>
              </div>
              <p class="card-text">
                Prix fixe menu at the historic Edgewater Hotel in Winter Garden.
                <a href='#' class='reviews--read-more'>Read Review <i class='fa fa-arrow-right'></i></a>
              </p>
            </div>
          </div>
          <div class="card">
            <a href='#' class='float-left reviews--img-link img--wrapper pr-3'><img src="assets/news/bulla.jpg" class='card-img-left' alt="Card image cap" /></a>
            <div class='card-block'>
              <div class='reviews--title'>
                <h4 class="card-title mb-0"><a href='#'>Chefs Table</a></h4>
                <p class='lead'>Winter Garden</p>
                <span class="badge badge-warning">3 <i class='fa fa-spoon'></i></span>
              </div>
              <p class="card-text">
                Prix fixe menu at the historic Edgewater Hotel in Winter Garden.
                <a href='#' class='reviews--read-more'>Read Review <i class='fa fa-arrow-right'></i></a>
              </p>
            </div>
          </div>
          <div class="card">
            <a href='#' class='float-left reviews--img-link img--wrapper pr-3'><img src="assets/news/bulla.jpg" class='card-img-left' alt="Card image cap" /></a>
            <div class='card-block'>
              <div class='reviews--title'>
                <h4 class="card-title mb-0"><a href='#'>Chefs Table</a></h4>
                <p class='lead'>Winter Garden</p>
                <span class="badge badge-success">5 <i class='fa fa-spoon'></i></span>
              </div>
              <p class="card-text">
                Prix fixe menu at the historic Edgewater Hotel in Winter Garden.
                <a href='#' class='reviews--read-more'>Read Review <i class='fa fa-arrow-right'></i></a>
              </p>
            </div>
          </div>
          <div class="card">
            <a href='#' class='float-left reviews--img-link img--wrapper pr-3'><img src="assets/news/bulla.jpg" class='card-img-left' alt="Card image cap" /></a>
            <div class='card-block'>
              <div class='reviews--title'>
                <h4 class="card-title mb-0"><a href='#'>Somewhere Not So Good</a></h4>
                <p class='lead'>Mills 50</p>
                <span class="badge badge-danger">2 <i class='fa fa-spoon'></i></span>
              </div>
              <p class="card-text">
                Prix fixe menu at the historic Edgewater Hotel in Winter Garden.
                <a href='#' class='reviews--read-more'>Read Review <i class='fa fa-arrow-right'></i></a>
              </p>
            </div>
          </div>
        </div>

        <p class='text-xs-right'><a href='#'>See All 76 Reviews <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>

<div class='instafeed'>
  <div class='container'>
    <div class='row area--instragram'>
      <h3 class="header--underline">Instagram</h3>
    </div>
  </div>
  <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/4573d3a0f1815906a0082ab82ab77186.html" id="lightwidget_4573d3a0f1" name="lightwidget_4573d3a0f1"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>

<div class='content-maps'>
  <div class='container'>
    <div class='row area--maps'>
      <h3 class="header--underline">Maps</h3>

      <div class='maps--cards'>
        <div class="card">
          <img class="card-img img-fluid map--icon" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>

        <div class="card">
          <img class="card-img img-fluid map--icon" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>

        <div class="card">
          <img class="card-img img-fluid map--icon" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>

        <div class="card">
          <img class="card-img img-fluid" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>

        <div class="card">
          <img class="card-img img-fluid" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>

        <div class="card">
          <img class="card-img img-fluid" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>

        <div class="card">
          <img class="card-img img-fluid" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>

        <div class="card">
          <img class="card-img img-fluid" src="assets/news/lionfish.jpg" alt="Card image cap">

          <a class="card-img-overlay" href='#'>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <div class="card-block">
              <h4 class="card-title">Winter Park</h4>
              <p class="card-text">15 Places in Winter Park</p>
            </div>
          </a>
        </div>





      </div>
    </div>
  </div>
</div>

<footer class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs'>
        <h4 class='header--underline'>About Forkful</h4>
        <p>Navigate the Central Florida food scene like a local. Join Marilyn and Adam as they explore Orlando one fork at a time. <a href='#'>Read More</a></p>
      </div>
      <div class='col-xs'>
        <h4 class='header--underline'>Jump Around</h4>
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>News &amp; Events</a></li>
          <li><a href='#'>Reviews</a></li>
          <li><a href='#'>Maps</a></li>
          <li><a href='#'>Best Of Orlando</a></li>
        </ul>
      </div>
      <div class='col-xs'>
        <h4 class='header--underline'>Recommended Reads</h4>
        <ul>
          <li><a href='#'>Guide to Orlando Districts</a></li>
          <li><a href='#'>Eating at Disney</a></li>
          <li><a href='#'>Eating at Universal</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
