.card
  %a.float-left.news--img-link.img--wrapper{:href => "#"}
    = image_tag news[:image]
  .card-block
    - if news[:new]
      %span.badge.badge-new New

    %h4.card-title
      %a{:href => "#"}= news[:title]
    %p.card-text
      %small.text-muted= news[:meta]
