.card.row
  = image_tag article.image
  .card-img-overlay
    .featured--callout.col-5.offset-6
      %a{:href => "#"}
        - if article.is_new
          %span.badge.badge-new.t-1 New
        %h4.pb-1.m-0= article.title
        %p.lead.subtitle= article.meta
        %p.card-text= article.description
