= render layout: 'application/headers/post', locals: { img: image_url('covers/news.jpg'), type: 'broadcast' } do
  %h1 Latest Orlando Food & Restaurant News
  %p.subtitle.lead
    Follow us on Twitter.

.container.featured--after
  .row
    .col-md-12
      %ol.breadcrumb
        %li.breadcrumb-item.active News

  .row
    .col-md-9
      .cards
        = render @broadcasts

    .col-md-3
      .list-group
        %a.list-group-item{ href: '#' } News
        %a.list-group-item{ href: '#' } Events
