- if photo.photo.url(:thumb)
  %figure.figure
    = image_tag photo.photo.url(:thumb), class: 'figure-img img-fluid'
    - if photo.photo_src && photo.photo_src_url
      %figcaption.figure-caption{ class: 'text-sm-right' }
        Source:
        = link_to photo.photo_src, photo.photo_src_url, target: '_blank'
