%footer.footer
  .container
    .row
      .col-xs
        %h4.header--underline About Forkful
        %p
          Navigate the Central Florida food scene like a local. Join Marilyn and Adam as they explore Orlando one fork at a time.
          %a{:href => "#"} Read More
      .col-xs
        %h4.header--underline Jump Around
        %ul
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} News &amp; Events
          %li
            %a{:href => "#"} Reviews
          %li
            %a{:href => "#"} Maps
          %li
            %a{:href => "#"} Best Of Orlando
      .col-xs
        %h4.header--underline Recommended Reads
        %ul
          %li
            %a{:href => "#"} Guide to Orlando Districts
          %li
            %a{:href => "#"} Eating at Disney
          %li
            %a{:href => "#"} Eating at Universal
