- unless @reviews.empty?
  .featured--image
    %figure
      = image_tag @reviews.first.photo_poster

.container.content--first
  .row
    .col-md-12
      %ol.breadcrumb
        %li.breadcrumb-item.active News

  .row
    .col-md-12
      %h1.header--underline Latest News

  .row
    .col-md-9
      .cards
        = render @reviews

    .col-md-3
      .list-group
        %a.list-group-item{ href: '#' } News
        %a.list-group-item{ href: '#' } Events
